{% extends 'base.html' %}
{% block body_id %}group-add{% endblock %}

{% block content %}
  {% if form.errors %}
    <div class="alert alert-error">
      {{ _('Please correct the errors below.') }}
    </div>
  {% endif %}

  <header>
    <h1>{{ _('Add a group') }}</h1>
    <p>
      {% trans %}
      some text about adding groups
      {% endtrans %}
    </p>
  </header>

  <form action="{{ url('groups:group_add') }}" method="POST" enctype="multipart/form-data"
        id="group-add-form" class="group-add">
    {{ csrf() }}

    <fieldset>
      {{ mozillians_field(form.name) }}
    </fieldset>

    <fieldset>
      {{ mozillians_field(form.description) }}
    </fieldset>

    <fieldset>
      {{ mozillians_field(form.irc_channel) }}
    </fieldset>

    <fieldset>
      {{ mozillians_field(form.website) }}
    </fieldset>

    <fieldset>
      {{ mozillians_field(form.wiki) }}
    </fieldset>

    <fieldset id="edit_controls">
      <button type="submit">{{ _('Create Group') }}</button>
    </fieldset>

  </form>

{% endblock %}
